<div>
    <h2 class="title">Jogo da velha</h2>

    <div class="initial" *ngIf="showInitial">
        <a href="#" class="botao" (click)="initialPlay()">
            Iniciar
        </a>
    </div>

    <div class="board" *ngIf="showBoard">
        <ul>
            <li class="kz-border-bottom kz-border-right" [class.kz-img-x]="showX(0, 0)"
                [class.kz-img-o]="showO(0, 0)" [class.kz-cor-vitoria]="showWinning(0, 0)" (click)="play(0, 0)">
            </li>
            <li class="kz-border-bottom kz-border-right" [ngClass]="{ 
            'kz-img-x': showX(0, 1),
            'kz-img-o': showO(0, 1),
            'kz-cor-vitoria': showWinning(0, 1) }" (click)="play(0, 1)"></li>
            <li class="kz-border-bottom" [ngClass]="{ 
            'kz-img-x': showX(0, 2),
            'kz-img-o': showO(0, 2),
            'kz-cor-vitoria': showWinning(0, 2) }" (click)="play(0, 2)"></li>
            <li class="kz-border-bottom kz-border-right" [ngClass]="{ 
            'kz-img-x': showX(1, 0),
            'kz-img-o': showO(1, 0),
            'kz-cor-vitoria': showWinning(1, 0) }" (click)="play(1, 0)"></li>
            <li class="kz-border-bottom kz-border-right" [ngClass]="{ 
            'kz-img-x': showX(1, 1),
            'kz-img-o': showO(1, 1),
            'kz-cor-vitoria': showWinning(1, 1) }" (click)="play(1, 1)"></li>
            <li class="kz-border-bottom" [ngClass]="{ 
            'kz-img-x': showX(1, 2),
            'kz-img-o': showO(1, 2),
            'kz-cor-vitoria': showWinning(1, 2) }" (click)="play(1, 2)"></li>
            <li class="kz-border-right" [ngClass]="{ 
            'kz-img-x': showX(2, 0),
            'kz-img-o': showO(2, 0),
            'kz-cor-vitoria': showWinning(2, 0) }" (click)="play(2, 0)"></li>
            <li class="kz-border-right" [ngClass]="{ 
            'kz-img-x': showX(2, 1),
            'kz-img-o': showO(2, 1),
            'kz-cor-vitoria': showWinning(2, 1) }" (click)="play(2, 1)"></li>
            <li [ngClass]="{ 
              'kz-img-x': showX(2, 2),
              'kz-img-o': showO(2, 2),
              'kz-cor-vitoria': showWinning(2, 2) }" (click)="play(2, 2)"></li>
        </ul>
    </div>

    <div *ngIf="showEnd">
        <span>
            <p *ngIf="player==2">Você venceu!!!</p>
            <p *ngIf="player==1">Você perdeu...</p>
            <p *ngIf="player==0">O jogo terminou empatado...</p>
            <br />
            <a href="#" class="botao" (click)="newPlay()">
                Jogar novamente
            </a>
        </span>
    </div>

</div>